<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= group.groupname %> | Hustlerati
    </title>
    <link rel="stylesheet" href="/styles/groupDashboard.css">
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/loader.css">
    <script defer src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VCMHYS7QJ4');
    </script>
</head>

<body>
    <div class="top-menu" id="top-menu">
        <img src="/images/logo1.png" alt="Logo Image" srcset="" style="height: 60px; width: 60px;">
        <span class="material-symbols-outlined" id="open-menu">menu</span>
        <span class="material-symbols-outlined" id="close-menu">close</span>
        <div class="sub-menu" id="sub-menu">
            <a href="/" class="menu-link" title="Dashboard">Go
                back to Hustlerati</a>
            <a href="/hustlers/group/register" class="menu-link" title="Marketplace">Log out</a>
            <a href="" id="terms">Terms of service</a>
        </div>
    </div>
    <div class="display">
        <div class="tabs">
            <!-- Main tabs for large screens and top for small screens -->
            <button class="tablinks active" onclick="openTab(event, 'group')">Group</button>
            <button class="tablinks" onclick="openTab(event, 'business')">Business</button>
            <button class="tablinks" onclick="openTab(event, 'loans')">Loans</button>
            <div class="underline"></div>
        </div>
        <!-- Tab contents -->
        <div id="group" class="tabcontent">
            <h1>Group details</h1>
            <h3>Name: <%= group.groupname %>
            </h3>
            <h3>Leader: <%= group.leadername %>
            </h3>
            <h3>Phone: <%= group.phone %>
            </h3>
            <h3>Email: <%= group.email %>
            </h3>
            <button class="edit" id="edit" data-group="<%= group.groupname %>"><span class="material-symbols-outlined">
                    edit
                </span>Edit group details</button>
            <div class="divider"></div>
            <div class="members-list" id="members-list">
                <% members.forEach(member=> { %>
                    <% if (member.pic !==null) { %>
                        <div class="card" id="card">
                            <img src="/uploads/<%= member.pic %>" alt="Post Image"
                                style="max-width: 200px; max-height: 200px; border-radius: 8px;">
                            <div class="text">
                                <h1>
                                    <%= member.name %>
                                </h1>
                                <p>
                                    <%= member.phone %>
                                </p>
                                <p>
                                    <%= member.email %>
                                </p>

                            </div>
                            <div>
                                <button class="delete-member" data-member-id="<%= member.id %>">Remove</button>
                            </div>
                        </div>
                        <% } %>
                            <% }); %>
            </div>
            <button class="add" id="add" data-group="<%= group.groupname %>"><span class="material-symbols-outlined">
                    add
                </span> Add member</button>
        </div>
        <div id="business" class="tabcontent" style="display: none;">
            <p class="description-body"><%- group.business_description %></p>
            <div class="editor-title">Write your business description in the editor below</div>
            <div id="editor" class="editor"></div>
            <button class="add" id="edit-business-description" data-group-id="<%= group.id %>"><span
                    class="material-symbols-outlined">
                    edit
                </span>Edit Business Description</button>
        </div>
        <div id="loans" class="tabcontent" style="display: none;">
            <!-- Content for Loans tab -->
            <h2>Group loans</h2>
            <button class="add" id="group-loan" data-group-id="<%= group.id %>"><span
                class="material-symbols-outlined">
                edit
            </span>Apply for group loan</button>
            <h2>Personal loans</h2>
            <button class="add" id="personal-loan" data-group-id="<%= group.id %>"><span
                class="material-symbols-outlined">
                edit
            </span>Apply for personal loan</button>
        </div>
        <!-- Bottom tabs for small screens -->
        <div class="bottom-tabs">
            <div class="bottom-tab" onclick="openTab(event, 'business')">
                <span class="material-symbols-outlined">storefront</span>
                <span class="underline"></span>
            </div>
            <div class="bottom-tab active" onclick="openTab(event, 'group')">
                <span class="material-symbols-outlined">partner_exchange</span>
                <span class="underline"></span>
            </div>
            <div class="bottom-tab" onclick="openTab(event, 'loans')">
                <span class="material-symbols-outlined">credit_score</span>
                <span class="underline"></span>
            </div>
        </div>
        <dialog class="add-member" id="add-member">
            <h1>Fill in the details below</h1>
            <p>Note: Take a picture of your member holding his national/school/highschool ID alongside a paper with the
                current date</p>
            <div class="member-image" id="member-image">
                <button class="submit-member">Take picture</button>
            </div>
            <input type="file" id="fileInput" accept="image/*" capture style="display:none;" name="picture"
                enctype="multipart/form-data">
            <div class="preview" id="preview">
            </div>
            <input type="hidden" name="groupId" id="groupId">
            <input type="text" name="membe-name" id="member-name" placeholder="Name"><br>
            <input type="tel" name="membe-phone" id="member-phone" placeholder="Phone"><br>
            <input type="text" name="membe-email" id="member-email" placeholder="Email"><br>
            <p id="group-error"></p>
            <p id="group-success"></p>
            <div class="buttons">
                <button class="submit-member" id="submit-member"> Submit</button>
                <button class="close-add" id="close-add">Close</button>
            </div>
        </dialog>
        <dialog id="apply-loan" class="edit-group">
            <input type="number" name="amount" id="amount">
            <select name="loan-type" id="loan-type">
                <option value="Personal">Personaly</option>
                <option value="Group">Group</option>
            </select>
        </dialog>
        <dialog class="edit-group" id="edit-group">
            <h1>Fill in the details below</h1>
            <p>The details below are the only details that are allowed to be modified. Can be modified as many times as
                the group rebrands or changes</p>
            <input type="text" id="group-name" placeholder="Group name"><br>
            <input type="tel" id="group-phone" placeholder="Group phone"><br>
            <input type="text" id=" group-leader" placeholder="Group leader name"><br>
            <p id="error"></p>
            <p id="success"></p>
            <div class="buttons">
                <button class="submit-member" id="submit-edit">Submit</button>
                <button class="submit-member" id="close-edit">Close</button>
            </div>
        </dialog>
        <div class="feedback-div" id="feedback-div">
            <p class="feedback" id="general-success"></p>
            <p class="feedback" id="general-error"></p>
        </div>
    </div>
    <div class="loader" id="loader">
        <div class="spinner"></div>
    </div>
    <script src="/scripts/groupDashboard.js"></script>
</body>

</html>