<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hustlerati</title>
    <link rel="icon" href="./res/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
    <link rel="stylesheet" href="/styles/small-devices.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #5d4037;
        }

        #profile-pic {
            height: 90px;
            width: 90px;
            border-radius: 50%;
            background-image: url(/res/profile.jpg);
            background-position: center;
            background-size: cover;
            cursor: pointer;
            background-color: #F09819;
        }

        .menu-icon{
            color: #fff;
        }

        #dashboard img {
            margin-left: 190px;
        }

        .poster-details{
            display: flex;
            justify-content: start;
            display: flex;
            flex-direction: row;
            align-items: center;
            opacity: 90%;
            margin-top: 15px;
        }

        #news-card img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .carousel-container {
            width: 100%;
            margin: auto;
            overflow: hidden;
            position: relative;
        }

        .carousel-wrapper {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }

        img {
            width: 100%;
            height: auto;
        }

        .preview {
            height: 40px;
            width: 40px;
            display: none;
            margin: 20 auto;
            border-radius: 8px;
            z-index: 1000;
            border: #36211b 1px;
            border-radius: 50%;
        }

        .material-icons {
            font-size: 48px;
            color: #333;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        #prevBtn {
            left: 10px;
        }

        #nextBtn {
            right: 10px;
        }

        .personal-info {
            background-color: #4b281d;
            padding: 1em;
            border-radius: 8px;
            margin-top: 15px;
        }

        .user-data {
            display: flex;
            align-items: center;
        }

        .user-data h4 {
            margin-left: 10px;
        }


        #edit-profile {
            margin-left: -5px;
        }

        #profile-edit-submit {
            margin-left: -1px;
        }

        #edit-profile-dialog {
            background-color: #36211b;
            border-radius: 8px;
            border: none;
            align-self: left;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
        }

        #more {
            background-color: #36211b;
            border-radius: 8px;
            border: none;
            width: 700px;
            align-self: left;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
        }

        .card {
            background-color: #704639;
            border: 1px solid #704639;
            border-radius: 8px;
            padding: 8px;
            width: 950px;
            margin-bottom: 16px;
        }

        .post-data{
            display: flex;
            flex-direction: row;
        }

        .card img {
            max-width: 200px;
            max-height: 200px;
            width: 100%;
            border-radius: 8px;
            margin-bottom: 8px;
        }

        .card h3 {
            font-size: 18px;
            margin-bottom: 8px;
        }

        .card p {
            margin-bottom: 0;
        }

        .text{
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        #content{
            color: aliceblue;
        }

        #exit{
            color: #F09819;
            font-size: large;
        }

        .read-more{
            color: #F09819;
            font-size: large;
        }
        
        .add {
            position: fixed;
            bottom: 20px; 
            left: 60px; 
            background-color: #F09819; 
            border-radius: 50%; 
            width: 60px; 
            height: 60px; 
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            cursor: pointer;
        }

        .comment{
            display: flex;
            flex-direction: row;
            background-color: #36211b;
            width: 480px;
            border-radius: 5px;
            margin: 8px;
            padding: .5em;
            background-color: #4e342e;
            display: flex;
            align-items: center;
            opacity: 90%;
        }

        .add .material-symbols-outlined {
            font-size: 24px;
            line-height: 1;
            margin-left: 7px;
        }

        #post-dialog {
            background-color: #36211b;
            border-radius: 8px;
            border: none;
            align-self: left;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
        }

        input,
        textarea {
            background-color: transparent;
            border: none;
            width: 100%;
            color: white;
            outline: none;
        }

        textarea:focus {
            border: none;
        }

        input:focus {
            border: none;
        }
        .input-div {
            width: 280px;
            margin: 10px;
            border-radius: 15px;
            padding: .5em;
            background-color: #4e342e;
            display: flex;
            align-items: center;
            opacity: 90%;
        }

        .body-div {
            width: 280px;
            margin: 10px;
            border-radius: 15px;
            padding: .5em;
            background-color: #4e342e;
            display: flex;
            flex-direction: column;
            /* Arrange items in a column */
            opacity: 90%;
        }

        #add-preview{
          height: 200px;
          width: 200px;
          background-position: center;
          background-size: cover;
        }

        .posting{
            margin-left: 20px;
        }

        .search-bar{
           width: 940px;
           border-radius: 5px;
           background-color: #36211b;
        }

        @media (max-width: 1068px) {

            .text{
                margin: 0px;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }

            .add {
                position: fixed;
                bottom: 20px; 
                left: 20px; 
                background-color: #F09819; 
                border-radius: 50%; 
                width: 60px; 
                height: 60px; 
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
                cursor: pointer;
            }

            #menu-tab {
                margin-top: 45px;
                height: 100vh;
                left: -8px;
                width: 100%;
                background-color: #4e342e;
                display: none;
                z-index: 3000;
            }

            .input-div {
                width: 280px;
                margin: 10px;
                border-radius: 15px;
                padding: .5em;
                background-color: #4e342e;
                display: flex;
                align-items: center;
                opacity: 90%;
            }

            #profile-edit-submit {
                margin-left: -1px;
                align-self: center;
            }

            .comment{
                display: flex;
                flex-direction: row;
                background-color: #36211b;
                width: 300px;
                border-radius: 5px;
                margin-right: 8px;
                padding: .2em;
                background-color: #4e342e;
                display: flex;
                align-items: center;
                opacity: 90%;
            }


            #edit-profile-dialog {
                background-color: #36211b;
                border-radius: 8px;
                border: none;
                width: 350px;
                align-self: left;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
            }

            .search-bar{
                width: 300px;
            }

            #more {
                background-color: #36211b;
                border-radius: 8px;
                border: none;
                width: 350px;
                align-self: left;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
            }

            #edit-profile {
                margin-left: 0px;
            }

            #dashboard {
                background-color: #5d4037;
                height: 100vh;
                flex-direction: column;
                align-items: center;
                margin-top: 150px;
                padding-left: 20px;
                transition: width 10s, background-color 10s;
            }

            #dashboard img {
                margin-left: 2px;
            }

            #shop {
                margin-top: 130px;
            }

            #investing {
                margin-top: 120px;
            }

            #news {
                margin-top: 120px;
            }

            #profile {
                margin-top: 120px;
            }

            .button-87 {
                margin: 10px;
                display: none;
                padding: 15px 40px;
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;
                border-radius: 10px;
                display: block;
                border: 0px;
                font-weight: 700;
                box-shadow: 0px 0px 14px -7px #f09819;
                background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
            }

            .card {
            width: 330px;
            display: flex;
            flex-direction: column;
            margin-left: -20px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
           }

           .card img{
            max-width: 400px;
            max-height: 400px;
            width: 100%;
            border-radius: 8px;
            margin-bottom: 8px;
           }

           .push{
            margin-top: 180px;
           }

           .post-data{
            display: flex;
            flex-direction: column;
           }
        }
    </style>
</head>

<body>
    <div class="tabs-container">
        <div class="top-bar">
        </div>
        <div class="menu" id="menu">
            <div class="menu-icon" id="menu-icon" title="Menu Icon">&#9776;</div>
            <span class="material-symbols-outlined" title="logout" id="logout">logout</span>
        </div>

        <div class="tab" id="menu-tab">
            <div class="menu-items" id="menu-items">
                <img src="/res/logo1.png" alt="Logo Image" srcset="" style="height: 60px; width: 60px;">
                <a href="#dashboard" class="menu-link" title="Dashboard"><span
                        class="material-symbols-outlined">grid_view</span>Dashboard</a>
                <a href="#shop" class="menu-link" title="Marketplace"><span
                        class="material-symbols-outlined">local_convenience_store</span>Marketplace</a>
                <a href="#investing" class="menu-link" title="Investor Insights"><span
                        class="material-symbols-outlined">monitoring</span>Investor Insights</a>
                <a href="#news" class="menu-link" title="News feed"><span
                        class="material-symbols-outlined">newspaper</span>Hustlerati Feed</a>
                <a href="#profile" class="menu-link" title="Profile"><span
                        class="material-symbols-outlined">account_circle</span>Profile</a>
                <a href="/loans/page" class="loans" title="Loans"> <span class="material-symbols-outlined">
                    paid
                    </span>Hustlerati loans</a>
                <a href="" id="terms">Terms of service</a>
            </div>
        </div>
        <div class="middle-tab" id="middle-tab">
            <div class="display" id="dashboard">
                <img src="/res/logo1.png" alt="" srcset="" style="height: 160px; width: 160px; " id="home-logo" />
                <h1>Welcome to Hustlerati business Suite</h1>
                <% if (userData && userData.business_name) { %>
                    <button class="button-87" role="button" id="businessBtn"
                        style="display: none;"><strong>+</strong>Add your business</button>
                    <button class="button-87" role="button" id="mindBtn"><strong>+</strong>Mind <%=
                            userData.business_name %></button>
                    <% } else { %>
                        <button class="button-87" role="button" id="businessBtn"><strong>+</strong>Add your
                            business</button>
                        <button class="button-87" role="button" id="mindBtn"
                            style="display: none;"><strong>+</strong>Mind <%= userData.business_name %></button>
                        <% } %>

            </div>
            <div class="display push active-tab" id="shop">
                <div id="ads-container">
                    <% function truncateText(text, maxLength) {
                        if (!text) return ''; // Return empty string if text is null or undefined
                        if (text.length > maxLength) {
                            return text.substring(0, maxLength) + '...';
                        }
                        return text;
                    } %>
                    <% ads.forEach(ad => { %>
                        <% if (ad.post_pic !== null && ad.post_title !== null && ad.post_body !== null) { %>
                            <div class="card" id="card">
                                <div class="post-data">
                                   
                                <div class="more-items" id="more-items">
                                    <p>See more</p>
                                    <span class="material-symbols-outlined">
                                        arrow_circle_right
                                        </span>
                                </div>
                                <img src="/uploads/<%= ad.post_image %>" alt="Post Image">
                                <div class="text"> 
                                    <strong><p><%= ad.post_title %></p></strong> 
                                    <p><%= truncateText(ad.post_body, 250) %> <a href="#" class="read-more" data-post-body="<%= ad.post_body %>">Read more</a></p>
                                </div>
                                </div>
                                <div class="poster-details" >
                                    <div class="comment">
                                       <input type="text" placeholder="Leave a comment...">
                                        <span class="material-symbols-outlined">
                                            send
                                            </span>
                                    </div>
                                        <span class="material-symbols-outlined">
                                            favorite
                                            </span>
                                            <span id="numbers">0</span>
                                        <span class="material-symbols-outlined">
                                            share
                                            </span>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
          
            </div>
            <div class="display" id="investing">
                <h1>Investor Insights</h1>
                <div class="insights-card">

                </div>
            </div>
            <div class="display" id="news">
                <div style="text-align: center; background-color: #4b281d; margin: 10px;" class="search-bar">
                    <input type="text" name="search" id="search" placeholder="Search post..." style="padding: .5em;" oninput="filterPost()">
                </div>
                    <div class="news-card" id="news-card">
                        <% if (news.length === 0) { %>
                            <p>No news available. Post something!</p>
                        <% } else { %>
                            <% news.forEach(ad => { %>
                                <% if (ad.post_pic !== null && ad.post_title !== null && ad.post_body !== null) { %>
                                    <div class="card">
                                        <div class="post-data">
                                        <img src="/uploads/<%= ad.post_image %>" alt="Post Image">
                                        <div class="text"> 
                                            <h1><%= ad.post_title %></h1>
                                            <p><%= truncateText(ad.post_body, 250) %> <a href="#" class="read-more" data-post-body="<%= ad.post_body %>">Read more</a></p>
                                        </div>
                                        </div>
                                        <div class="poster-details" >
                                            <div class="comment">
                                               <input type="text" placeholder="Leave a comment...">
                                                <span class="material-symbols-outlined">
                                                    send
                                                    </span>
                                            </div>
                                                <span class="material-symbols-outlined">
                                                    favorite
                                                    </span>
                                                    <span id="numbers">0</span>
                                                <span class="material-symbols-outlined">
                                                    share
                                                    </span>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        <% } %>
                    </div>
                    
                    <div class="add" id="add"><span class="material-symbols-outlined">edit</span></div>
             
            </div>
            <div class="display" id="profile">
                <h1>Profile</h1>
                <div class="profile-card">
                    <div class="profile-pic" id="profile-pic"
                        style="background-image: url('/uploads/<%= userData.profile_pic %>');"></div>
                    <input type="file" id="fileInput" accept="image/*" capture style="display:none;" name="picture"
                        enctype="multipart/form-data">
                    <div class="preview" id="preview">
                        <button class="button" id="edit-pic">Submit</button>
                    </div>
                    <div class="personal-info">
                        <div class="user-data">
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>
                            <h4>
                                <%= userData.firstname %>
                            </h4>
                        </div>
                        <div class="user-data">
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>
                            <h4>
                                <%= userData.lastname %>
                            </h4>
                        </div>
                        <div class="user-data">
                            <span class="material-symbols-outlined">
                                mail
                            </span>
                            <h4>
                                <%= userData.email %>
                            </h4>
                        </div>
                        <div class="user-data">
                            <span class="material-symbols-outlined">
                                phone_enabled
                            </span>
                            <h4>
                                <%= userData.phone %>
                            </h4>
                        </div>

                        <button class="button-87" id="edit-profile">Edit profile</button>
                        <dialog class="dialog" id="edit-profile-dialog">
                            <h2 style="color: aliceblue; text-align: center;">Edit Profile</h2>
                            <div class="input-div">
                                <span class="material-symbols-outlined">
                                    account_circle
                                </span>
                                <input type="text" id="fname" name="fname" required placeholder="John">
                            </div>
                            <div class="input-div">
                                <span class="material-symbols-outlined">
                                    account_circle
                                </span>
                                <input type="text" id="lname" name="lname" required placeholder="Doe">
                            </div>
                            <div class="input-div">
                                <span class="material-symbols-outlined">
                                    phone_enabled
                                </span>
                                <input type="tel" name="phone" id="phone" placeholder="Phone" required>
                            </div>
                            <button class="button-87" id="profile-edit-submit">Edit profile</button>
                        </dialog>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab" id="ads-tab">
            <div class="carousel-container">
                <div class="carousel-wrapper">
                    <div class="carousel-item">
                        <img src="/res/dockonekt.png" alt="Image 1">
                    </div>
                    <div class="carousel-item">
                        <img src="/res/dockonekt.png" alt="Image 2">
                    </div>
                    <div class="carousel-item">
                        <img src="/res/dockonekt.png" alt="Image 3">
                    </div>
                </div>
                <span class="material-icons" id="prevBtn" onclick="prevSlide()">navigate_before</span>
                <span class="material-icons" id="nextBtn" onclick="nextSlide()">navigate_next</span>
            </div>
        </div>
    </div>
    <dialog id="more">
        <p id="content"></p>
        <a href="#" id="exit">Exit</button>
    </dialog>
    <dialog id="post-dialog">
        <button class="button-87 posting" id="pick-image">Pick image</button>
        <input type="file" id="fileInput" accept="image/*" capture style="display:none;" name="picture"
            enctype="multipart/form-data">
        <div class="preview" id="add-preview">

        </div>
        <div class="input-div">
            <span class="material-symbols-outlined">
                title
            </span>
            <input type="text" id="title" name="title" required placeholder="Title">
        </div>
        <div class="body-div">
            <span class="material-symbols-outlined">
                list_alt
            </span>
            <textarea name="body" id="body" cols="30" rows="10"
                placeholder="What do you wan to say..."></textarea>
        </div>
        <button class="button-87 posting" id="post-submit">Submit</button>
        <button class="button-87 posting" id="exit-post">Exit</button>
    </dialog>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuIcon = document.getElementById('menu-icon');
            const menuItems = document.getElementById('menu-items');
            const middleTab = document.getElementById('middle-tab');
            const menuTab = document.getElementById('menu-tab');
            const businessBtn = document.getElementById('businessBtn');
            const logoutBtn = document.getElementById('logout');
            const termsLink = document.getElementById('terms');
            const profilePic = document.getElementById('profile-pic');
            const editProfileBtn = document.getElementById('edit-profile');
            const editProfileDialog = document.getElementById('edit-profile-dialog');
            const profileSubmit = document.getElementById('profile-edit-submit');
            const previewDiv = document.getElementById('preview');
            const submitPic = document.getElementById('edit-pic');
            const mindBtn = document.getElementById('mindBtn');
            // const moreButton = document.querySelectorAll('#read-more');
            const moreDialog = document.getElementById('more');
            const exitBtn = document.getElementById('exit');
            const exitPost = document.getElementById('exit-post');
            const fileInput = document.getElementById('fileInput');
            // Filtering themes for catgories
            const filterInput = document.getElementById('filter-theme');
            const themeList = document.getElementById('theme-list');
            const filter = document.getElementById('filter');
            const moreItems = document.getElementsByClassName('more-items');

            for (let i = 0; i < moreItems.length; i++) {
                moreItems[i].addEventListener('click', (e) => {
                    e.preventDefault();
                    window.location.href = "/marketplace";
                });
            }

            exitPost.addEventListener('click', async(e)=>{
                e.preventDefault();
                postDialog.close();
            })

            exitBtn.addEventListener('click', async(e)=>{
                e.preventDefault();
                moreDialog.close();
            })

            // const handleClick = function handleClick(){
            //     moreDialog.showModal()
            // }

            const moreButtons = document.querySelectorAll('#read-more');
            moreButtons.forEach(button => {
                button.addEventListener('click', handleClick);
            });

            mindBtn.addEventListener('click', async (e) => {
                e.preventDefault()
                window.location.href = '/hustler/dashboard'
            })

            profileSubmit.addEventListener('click', async (e) => {
                e.preventDefault();
                const firstname = document.getElementById('fname').value;
                const lastname = document.getElementById('lname').value;
                const phone = document.getElementById('phone').value;

                // Validate input (you may want to implement more robust validation)
                if (!firstname || !lastname || !phone) {
                    alert("All fields are required.");
                    return;
                }

                // Create user data object
                const userData = {
                    firstname: firstname,
                    lastname: lastname,
                    phone: phone,
                };

                console.log(userData)
                try {
                    // Send registration data to server
                    const response = await fetch('/update-profile', {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(userData)
                    });

                    const result = await response.json();

                    if (response.ok) {
                        alert("Profile Updated");
                        editProfileDialog.close();
                    } else {
                        alert("Registration failed. Please try again.");
                    }
                } catch (error) {
                    console.error("Error during registration:", error);
                    alert("An error occurred. Please try again later.");
                }

            })

            editProfileBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                editProfileDialog.showModal();
            })

            profilePic.addEventListener("click", async (e) => {
                e.preventDefault();
                fileInput.click();
                previewDiv.style.display = 'block'; // Display the preview div
            });

            fileInput.addEventListener('change', (e) => {
                const selectedFile = e.target.files[0];
                if (selectedFile) {
                    const reader = new FileReader();
                    reader.onload = function (event) {
                        // Set the background image of the profilePic element
                        profilePic.style.backgroundImage = `url('${event.target.result}')`;
                    };
                    reader.readAsDataURL(selectedFile);
                }
            });

            submitPic.addEventListener('click', async (e) => {
                e.preventDefault();
                const selectedFile = fileInput.files[0];
                if (selectedFile) {
                    const formData = new FormData();
                    formData.append('profilePic', selectedFile);
                    console.log(formData)

                    try {
                        const response = await fetch('/update-pic', {
                            method: 'POST',
                            body: formData
                        });
                        if (response.ok) {
                            const data = await response.json();
                            // Assuming data contains the path to the uploaded image
                            // You can then use this path to update the user's profile_pic field
                        } else {
                            console.error('Failed to upload image');
                        }
                    } catch (error) {
                        console.error('Error uploading image:', error);
                    }
                } else {
                    console.error('No file selected');
                }
            });

            termsLink.addEventListener('click', async (e) => {
                e.preventDefault();
                window.location.href = '/terms&conditions';
            });

            logoutBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                window.location.href = '/login.html';
            });

            businessBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                window.location.href = '/register-your-business.html';
            });

            let isMenuOpen = false;

            function toggleMenu() {
                menuIcon.addEventListener('click', async (e) => {
                    e.preventDefault();

                    // Toggle menu tab
                    if (isMenuOpen) {
                        menuTab.style.display = 'none';
                        isMenuOpen = false;
                    } else {
                        menuTab.style.display = 'block';
                        isMenuOpen = true;
                    }

                });
            }

            // Added event listeners for menu links
            function addMenuLinkListeners() {
                const menuLinks = document.querySelectorAll('.menu-link');
                menuLinks.forEach(link => {
                    link.addEventListener('click', (e) => {
                        e.preventDefault();
                        const targetId = e.currentTarget.getAttribute('href').substring(1);
                        toggleTabs(targetId);

                        // Remove the 'clicked-link' class from all links
                        menuLinks.forEach(link => {
                            link.classList.remove('clicked-link');
                        });

                        // Add the 'clicked-link' class to the clicked link
                        e.currentTarget.classList.add('clicked-link');
                        if (isMenuOpen) {
                            menuTab.style.display = 'none';
                            isMenuOpen = false;
                        } else {
                            menuTab.style.display = 'block';
                            isMenuOpen = true;
                        }

                        window.scrollTo({ top: 0, behavior: 'smooth' });
                    });
                });
            }

            // Function to toggle tabs based on targetId
            function toggleTabs(targetId) {
                const tabs = document.querySelectorAll('.display');
                tabs.forEach(tab => {
                    tab.classList.remove('active-tab');
                });

                const targetTab = document.getElementById(targetId);
                if (targetTab) {
                    targetTab.classList.add('active-tab');
                }
            }

            toggleMenu();
            addMenuLinkListeners();

            //Carosel stuff
            let currentIndex = 0;
            const totalSlides = document.querySelectorAll('.carousel-item').length;
            const carouselWrapper = document.querySelector('.carousel-wrapper');

            function showSlide(index) {
                currentIndex = (index + totalSlides) % totalSlides;
                const translateValue = -currentIndex * 100 + '%';
                carouselWrapper.style.transform = 'translateX(' + translateValue + ')';
            }

            function nextSlide() {
                if (currentIndex === totalSlides - 1) {
                    // If at the last slide, hide the transition for a moment
                    carouselWrapper.style.transition = 'none';
                    showSlide(currentIndex + 1);
                    setTimeout(() => {
                        // Move to the first slide without transition
                        carouselWrapper.style.transition = 'transform 0.5s ease-in-out';
                        showSlide(0);
                    });
                } else {
                    showSlide(currentIndex + 1);
                }
            }

            function prevSlide() {
                showSlide(currentIndex - 1);
            }

            // Automatically move to the next slide every 3 seconds
            setInterval(nextSlide, 3000);

            const paragraph = document.getElementById('content');

            var readMoreButtons = document.querySelectorAll('.read-more');

            readMoreButtons.forEach(async function (button) {
                button.addEventListener('click', async function () {
                    var body = this.getAttribute('data-post-body');
                    paragraph.textContent = body;
                    moreDialog.showModal();
                });
            });

            const postDialog = document.getElementById('post-dialog');
            const submitPostBtn = document.getElementById('post-submit');
            const previewdiv = document.getElementById('add-preview');
            const pickImage = document.getElementById('pick-image');
            const postBtn = document.getElementById('add');
           

            postBtn.addEventListener('click', async (e) => {
                e.preventDefault()
                postDialog.showModal();
            })

            pickImage.addEventListener('click', (e) => {
                e.preventDefault();
                fileInput.click();
                previewdiv.style.display = 'block';
            });

            fileInput.addEventListener('change', (e) => {
                const selectedFile = e.target.files[0];
                if (selectedFile) {
                    const reader = new FileReader();
                    reader.onload = function (event) {
                        const imgPreview = document.createElement('img');
                        imgPreview.src = event.target.result;
                        imgPreview.style.maxWidth = '100%';
                        imgPreview.style.maxHeight = '100%';
                        previewdiv.appendChild(imgPreview);

                        // Store the selected file
                        selectedFileData = selectedFile;
                    };
                    reader.readAsDataURL(selectedFile);
                }
            });

            submitPostBtn.addEventListener('click', async (e) => {
                e.preventDefault();
                const title = document.getElementById('title').value;
                const body = document.getElementById('body').value;

                // Validate input (you may want to implement more robust validation)
                if (!title || !body) {
                    alert("Title and body are required.");
                    return;
                }

                // Create FormData object and append title, body, and selected file
                const formData = new FormData();
                formData.append('title', title);
                formData.append('body', body);
                formData.append('image', selectedFileData);

                console.log(formData);

                try {
                    // Send post data to server
                    const response = await fetch('/update-news', {
                        method: "POST",
                        body: formData// Send FormData instead of JSON
                    });

                    const result = await response.json();

                    if (response.ok) {
                        alert("Post updated");
                        // Clear selected file data
                        selectedFileData = null;
                        postDialog.close();
                    } else {
                        alert("Post update failed. Please try again.");
                    }
                } catch (error) {
                    console.error("Error during post update:", error);
                    alert("An error occurred. Please try again later.");
                }
            });
        });
    </script>
    <script src="/js/filter.js"></script>
</body>

</html>